/* reset css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior:smooth; 
/* dùng đển cuộn trang cho mươt */
}

    /* 
1. vị trí
2. kích thước
3.màu sắC
4.kiểu dáng
*/

/* common */

.clear{
    clear:both ;
}

.text-centre{
    text-align: center !important;
}

.row{
margin-left: -8px;
margin-right: -8px;
}
.row::after{
    content:"";
    display:block;
    clear:both;
}


.col{
    float:left;
    padding-left:8px;
}
.col-full{
    width:100%;
}
.col-third{
    width:33.33333%;
}

.col-haft{
    width:50%;
}
/* main */

#header{
    position:fixed;
    height:46px;
    background-color: #493e3efb;
    top:0;
    left:0;
    right:0;
    z-index: 1;

}
#nav{
    display:inline-block;
}

#nav> li{
    display:inline-block;
}

#nav li{
   
    position:relative;

}
#nav >li> a{
    color:#fff;
   text-transform: uppercase;

}

#nav,.subnav{
    list-style-type: none;
}

#nav li a {
   
    text-decoration:none;
    padding: 0px 24px;
    line-height:46px;
    display:block;
}

#nav li:hover .subnav{
    display:block;
}

#nav> li:hover> a,
#nav .subnav li:hover a{
    color:#000;
    background-color: #ccc;

}
#nav .subnav{
display:none; 
min-width: 160px;
background-color:#fff;
position:absolute;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#nav .subnav a{
    color:#000;
padding:0px 12px;
line-height: 38px;

}

#nav.nav-icon-menu>i{
    font-size:13px; 
    
}
#header .search-btn{
    float:right;
    color:#fff;
}
#header .ti-search{
    font-size:20px;
    line-height: 46px;
    padding: 0 21px;

}
#header .search-btn:hover{
    background-color:#f44336;
    cursor:pointer;
}

    
#slider{
   position:relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/image/slider/Ephoto360.com_163d9de3dcd0f0.jpg') center / cover no-repeat ;
    color:#fff;
}

#slider .text-content{
    position: absolute;
    bottom:47px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;

}
#slider .hd-slider{
    
    font-size:24px ;
    letter-spacing: 3px;
    
}
#slider .content-slider{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    padding: 64px 0px;
    

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
    
}

#content .section-heading{
letter-spacing: 4px;
text-align: center;
margin:10px 0px;
font-size: 30px;
font-weight: 550;
}

#content .section-sub-heading{
text-align: center;
font-size: 15px;
margin-top:25px ;
font-style: italic;
opacity: 0.6;
}

#content .about-content{
line-height: 1.4;
margin-top:25px ;
font-size: 15px;
text-align: justify;
}

#content .list-member{
    margin-top: 48px;
    overflow:hidden;

}

#content .member-name{
    font-size: 15px;

}

#content .member-img{
    width:154px;
    margin-top: 15px;
    border-radius: 5px;

}
/* tour */
#content .tour-section{
    background-color: #000;
    color:#fff;

}
.tour-list{
background-color: #fff;
color:#000;
margin-top: 50px;

}

.tour-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color:#757575;
    
}
.tour-list .tour-sold-out{
    list-style: none;
}

.tour-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding: 2px 6px;
    margin-left: 16px;


}

.tour-list .quality{
float:right;
width:24px;
height:24px;
background-color: #000;
color:#fff;
margin:-5px;
margin-right:16px;
border-radius: 50%;
text-align: center;
line-height: 24px;

}

/* places */
.place-list{
    margin-top: 45px;
    margin-bottom: 48px;

}


.places-image{
width:100%;
display:block;
}

.places-image:hover{
background-color: #757575;

}


.place-body{
color:#000;
background-color: #fff;
padding: 16px;
font-size: 15px;


}

.place-name{
    font-size: 15px;

}

.place-time{
    margin-top:15px;

}

.place-content{
    margin-top:15px;

}

.place-ticket{
background-color: #000;
color:#fff;
padding: 11px 16px;
text-decoration: none;
display:inline-block;
margin-top:15px;
border:none;
cursor:pointer;

}

.place-ticket:hover{
    background:#757575 ;
}

/* modal */
.modal{
    position:fixed;
    right:0;
    left:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.4);
    display:none;
    align-items: center;
    justify-content: center;
} 

.modal-container{
    position: relative;
    background-color: #fff;
    width:900px;
    max-width: calc(100%-35px);
    min-height: 300px;
    animation: modalFadeIn ease .6s;
 }
.model-header{
padding: 32px 16px;
background-color: #009688;
letter-spacing: 4px;
color: #fff;
font-size: 25px;
height: 130px;
align-items: center;
justify-content: center;
display:flex;
}

.ti-bag{
    margin-right: 16px;
}

.modal-close{
position: absolute;
right:0;
color: #fff;
padding: 16px;
background-color: #009688;
font-size: 24px;
cursor: pointer;

}

.modal-close:hover{
    background-color: #ccc;
}

.modal-body{
    padding: 0.15px 16px;
    margin-top: 16px;
    
}

.modal-label{
    display:block;
    font-size: 15px;
    margin-bottom: 14px;
}

.modal-input{
    width:100%;
    border: 1px solid #ccc;
    padding:10px;
    margin-bottom: 24px;
}

#buy-tickets{
    width:100%;
    background-color: #009688;
    color:#fff;
    border:none;
    cursor: pointer;
    padding: 16px;
    margin-top: 16px;

}

#buy-tickets:hover{
    background-color: #ccc;
}

.modal-footer{
    margin-top:30px;
    margin-bottom: 30px;
    text-align: right;

}

.modal.open{
    display:flex;
}

@keyframes modalFadeIn {
from{
    opacity:0;
    transform: translateY(-150px); 
}
to{
    opacity:1;
    transform: translateY(0px); 
}
}
/* contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.ti-location-pin{
     width:30px;
    display:inline-block;
}
.ti-mobile{
     width:30px;
    display:inline-block;
}
.ti-email{
     width:30px;
    display:inline-block;
}

.contact-form .form-control{
font-size: 15px;   
padding:10px;
border: 1px solid #ccc;
width:100%;
outline:#000;
margin-top: 8px;
} 
.contac-submit{
    float:right;
    margin-top: 16px ;
    margin-bottom: 16px ;
    background-color: #000;
    color:#fff;
    border:none;
    padding:12px 16px;
    cursor:pointer;
}
.contac-submit:hover{
    background-color: #ccc;
}
/* map */
.map-img{
    width:100%;
}
/* footer */
#footer{
text-align: center;
padding :64px 16px;

}
#footer .icon-list{
    font-size: 24px;
}
#footer .icon-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
#footer .footer-content a:hover,
#footer .icon-list a:hover{
    color: rgba(0,0,0,0.3);
}
#footer .footer-content {
    margin-top:15px;
    margin-bottom: -59px;
}
#footer .footer-content a{
    color: rgba(0,0,0,0.6);
}


